.root {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.submit {
		margin: 10px 0 20px;
	}

	.foot {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;

		@media (max-width: 575px) {
			flex-direction: column;
		}

		p {
			text-align: center;
		}
	}
}
